---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import ThreePoints from '../components/ThreePoints.astro';
import PatternRanking from '../components/PatternRanking.astro';
import Steps from '../components/Steps.astro';
---

<Layout title="Sewing Planner">
	<main>
		<Header/>
        <Hero 
            title="Sewing Planner", 
            subTitle="Start you next sewing project with confidence", 
            copy="Organize your sewing pattens, yardage of your textile inventories, get inspiration from other sewists, plan and sew with confidence and help others by sharing your experience.", 
            cta="register", 
            login="login",
			bg = "https://images.unsplash.com/photo-1561822713-da02f57225b2?q=80&w=2342&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        />
		<ThreePoints/>
		<PatternRanking />
		<Steps/>
    </main>
	</main>
</Layout>

<style>
</style>
