---
interface Props {
  cta: string;
}

const { cta } = Astro.props;
---


<button
class="flex mx-auto mt-16 text-white bg-indigo-600 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-500 rounded text-lg"
>{cta}
</button>